# -*- coding: utf-8 -*-
<%inherit file="/base.html" />

<%def name="head_tags()">
  <!-- add some head tags here -->
</%def>
<%
item.set_version_cursor(version)
%>

<h1> ${item.item_id} - version ${version} - subpath - ${subpath}</h1>

<p><a href="/${item.item_id}">Go to root page for this item.</a></p>
<p><a href="/${item.item_id}/${version}">Go to root page for version: '${version}'</a></p>

% if subpath.find("/") > 0:
<h3> Subpath navigation </h3>
<ul>
<%
subpath_values = subpath.split("/")
%>
% for x in xrange(len(subpath_values)):
<li><a href="/${item.item_id}/${version}/${"/".join(subpath_values[:x+1])}">${"/".join(subpath_values[:x+1])}/</a></li>
% endfor
% endif

<ul>
% for file in item.list_parts(subpath):
<% 
filetext = file
if item.isdir(file, version):
  filetext = file + "/"
%>
<li id="${"_".join(version.split("."))}_${"_".join(file.split("."))}"><a href="/${item.item_id}/${version}/${subpath}/${file}">${filetext}</a> - <font size="-2"><a class="delete" href="/${item.item_id}/${version}/${subpath}/${file}" data-remove="${"_".join(version.split("."))}_${"_".join(file.split("."))}">(remove)</a></font></li>
% endfor
</ul>
<ul><li><form method="POST" enctype="multipart/form-data" action="/${item.item_id}/${version}/${subpath}">
<input type="file" name="part" /> 
<input type="submit" name="Add File"/>
<font size="-1">(optional: rename to: <input type="text" name="path"/>)</font>
</form>
</li>
<li>
<form method="POST" enctype="multipart/form-data" action="/${item.item_id}">
<input type="hidden" name="old_version" value="${version}"/>
<input type="submit" value="Clone to:"/>
<input type="text" name="version"/>
</form>
</li></ul>

</ul>
